{% extends "base.html" %}
{% block main %}

<div class="row">
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('recherche') }}">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">
                {{ form.element.label }}
            </label>

            <div class="col-sm-5">
                {{ form.element(size=20, class_="form-control", placeholder="Rechercher") }}
            </div>
        </div>
    </form>
</div>


<div id="category">
    {% for e in category %}
    {{ e.nom }}
</div>
<div id="class">
    {% for i in class %}
    {{ i.nom }}
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
        <button type="submit" class="btn btn-default">Go !</button>
    </div>
</div>


{% endblock %}