{% extends "base.html" %}

{% block main %}
  {% if not current_user.is_authenticated %}
   <!-- Slider start -->
    <section id="slider_part">
         <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
            <!-- Indicators -->
         	 <ol class="carousel-indicators text-center">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
             </ol>

           	<div class="carousel-inner">
           	 	<div class="item active">
           	 		<div class="overlay-slide">
           	 			<img src="../static/images/news1.jpeg" alt="" class="img-responsive">
           	 		</div>
           	 		<div class="carousel-caption">
               	 		<div class="col-md-12 col-xs-12 text-center">
               	 			<h3> <b>Eat Me</b>
               	 			<div class="line"></div>
               	 			<p> Slogan unique</p>
               	 		</div>
           	 		</div>
           	 	</div>
                <div class="item">
                    <div class="overlay-slide">
                        <img src="../static/images/news2.jpeg" alt="" class="img-responsive">
           	 		</div>
           	 		<div class="carousel-caption">
               	 		<div class="col-md-12 col-xs-12 text-center">
               	 			<h4 > Nous savons que vous êtes des grands cuisiniers </h4>
               	 			<div class="line"></div>
               	 			<p>Notre gamme de plat à été étendu!</p>
               	 		</div>
           	 		</div>
           	 	</div>
           	 	<div class="item">
                    <div class="overlay-slide">
                        <img src="../static/images/news3.jpeg" alt="" class="img-responsive">
           	 		</div>
           	 		<div class="carousel-caption">
               	 		<div class="col-md-12 col-xs-12 text-center">
               	 			<h3 > Regardez vos Matchs de la journée</h3>
               	 			<div class="line"></div>
               	 			<h5 color="yellow"> Qui sait? ce soir c'est peut être vous qui vous faites cuisiner!</h5>
               	 		</div>
           	 		</div>
           	 	</div>

           	 </div> 	 <!-- End Carousel Inner -->

            <!-- Controls -->
            <div class="slides-control ">
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                	<span><i class="fa fa-angle-left"></i></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                	<span><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
  	</section>
    <!--/ Slider end -->

    <!-- Service Area start -->
        <section id="service">
            <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="feature_header text-center">
                                <h3 class="feature_title"> <b>Utilisation du site</b></h3>
                                <h4 class="feature_sub">Eat me est un site de rencontre entre personne qui aiment la cuisine, le pratique comme sport national, ou pas du tout. Ici vous pourrez inviter des membres pour leur faire à mangé en fonction de ce qu'ils aiment. Ou au contraire ce sera eux qui vous inviterons !</h4>
                                <div class="divider"></div>
                            </div>
                        </div>  <!-- Col-md-12 End -->
                    </div>
                    <div class="row">
                        <div class="main_feature text-center">
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content">
                                        <i class="fa fa-lightbulb-o"></i>
                                        <h5>Like</h5>
                                        <p>Vous avez le devoir de noter das votre rubrique like, tous les plats que vous aimez manger. Du basique cordon bleu pates au plus gourmand creme brulé, tout y passe!</p>
                                    </div>
                                </div>
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content">
                                        <i class="fa fa-pencil"></i>
                                        <h5>Cook</h5>
                                        <p>Si vous êtes du genre cordon bleu hipster, sur notre site vous pourrez y inscrire ce que vous savez, un peu, beaucoup, pationnement cuisinner. </p>
                                    </div>
                            </div> <!-- Col-md-4 Single_feature End -->
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content">
                                        <i class="fa fa-cog"></i>
                                        <h5>Match</h5>
                                        <p>Grâce à notre technologie de pointe, Eat me vous permet de mettre en relation les plats que vous savez cuisnier avec les gouts cullinaires de nos membres.</p>
                                    </div>
                            </div> <!-- Col-md-4 Single_feature End -->
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content">
                                        <i class="fa fa-desktop"></i>
                                        <h5>Love</h5>
                                        <p>Enfin grâce à un système de choix perfectionné vous pourrez choisir les profils de nos membres qui vous interesse et entrez facilement en contact avec eux!</p>
                                    </div>
                            </div> <!-- Col-md-4 Single_feature End -->
                            <!-- <button class="btn btn-main"> Read More</button> -->
                        </div>
                </div>  <!-- Row End -->
            </div>  <!-- Container End -->
        </section>
  {% else %}
  <section id="testimonial" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h3 class="feature_title">Your matches</h3>
                    <h4 class="feature_sub">See your matches of the day </h4>
                    <div class="divider"></div>
                </div>
            </div>  <!-- Col-md-12 End -->
        </div>
                <div class="row">
                    <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
                        <div class="item">
                          <div class="testimonial-thumb">
                            <img class="img-circle" src="../static/images/gerard.jpg" alt="testimonial" >
                          </div>
                          <div class="testimonial-content">
                            <h3 class="name">User name <span>Description</span></h3>
                            <p class="testimonial-text">
                              What loved
                            </p>
                          </div>
                        </div>
                        <div class="item">
                          <div class="testimonial-thumb">
                            <img class="img-circle" src="images/testimonial2.png" alt="testimonial" >
                          </div>
                          <div class="testimonial-content">
                            <h3 class="name">Angry Figer <span>Frozen Director</span></h3>
                            <p class="testimonial-text">
                              Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
                            </p>
                          </div>
                        </div>
                    </div>
                    <!-- Navigation start -->
                    <div class="customNavigation cyprass-carousel-controller">
                        <a class="prev left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a class="next right">
                          <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                    <!-- Navigation ENd -->
                </div>
            </div> <!-- Row End -->
</section> <!-- Section Testimonial End -->
 
</section>  <!-- Section TEam End -->
        <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">Vos possibilités du jour</h3>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="feature-tab">
                   <div class="col-md-2 col-sm-3 col-xs-12">
                        <ul class="nav nav-tabs main-tab-list text-center" role="tablist">
                              <li role="presentation" class="active">
                                <a href="#home" role="tab" data-toggle="tab" >
                                  <div class="single-tab">
                                        <div class="f-icon">
                                            <i class="fa fa-laptop"></i>
                                        </div>
                                    </div>
                                     <h4>Plats aimés</h4>
                                </a>
                              </li>
                              <li role="presentation" >
                                <a href="#profile" role="tab" data-toggle="tab">
                                    <div class="single-tab">
                                        <div class="f-icon">
                                            <i class="fa fa-send"></i>
                                        </div>
                                    </div>
                                <h4>Plats cuisinés</h4>
                            </a>
                          </li>
                          <li role="presentation" >
                            <a href="#messages" role="tab" data-toggle="tab">
                                <div class="single-tab">
                                    <div class="f-icon">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                </div>
                                <h4>Mes matchs</h4>
                            </a>
                          </li>
                        </ul>
                    </div>  <!-- col-md-12 end -->
                  </div>
              </div>
          </div>
      </section>
  {% endif %}
{% endblock %}
