{% extends "base.html" %}
{% block main %}
<section id="contact">
    <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="feature_header text-center">
                      <h3 class="feature_title">Register</h3>
                      <h4 class="feature_sub">Fresh meat is near</h4>
                      <div class="divider"></div>
                  </div>
          </div>
        </div>
        <div class="row">
          <form class="form-horizontal" role="form" method="POST" action="{{ url_for('register') }}">
              {{ form.hidden_tag() }}
                {% if form.firstName.errors %}
                    <div>
                        <ul class="list-group">
                            {% for e in form.firstName.errors %}
                            <li class="list-group-item list-group-item-danger">{{ e }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                    <div class={% if form.firstName.errors %}
                        "form-group has-error"
                        {% else %}
                        "form-group"
                        {% endif %}
                        >
                        <label for="firstName" class="col-sm-2 control-label">
                            {{ form.firstName.label }}
                        </label>
                        <div class="col-sm-10">
                            {{ form.firstName(size=50, class_="form-control", placeholder="First Name") }}
                        </div>
                    </div>


                  {% if form.lastName.errors %}
                      <div>
                          <ul class="list-group">
                              {% for e in form.lastName.errors %}
                              <li class="list-group-item list-group-item-danger">{{ e }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}
                      <div class={% if form.lastName.errors %}
                          "form-group has-error"
                          {% else %}
                          "form-group"
                          {% endif %}
                          >
                          <label for="lastName" class="col-sm-2 control-label">
                              {{ form.lastName.label }}
                          </label>
                          <div class="col-sm-10">
                              {{ form.lastName(size=50, class_="form-control", placeholder="Last Name") }}
                          </div>
                      </div>


                      {% if form.email.errors %}
                          <div>
                              <ul class="list-group">
                                  {% for e in form.email.errors %}
                                  <li class="list-group-item list-group-item-danger">{{ e }}</li>
                                  {% endfor %}
                              </ul>
                          </div>
                      {% endif %}
                          <div class={% if form.email.errors %}
                              "form-group has-error"
                              {% else %}
                              "form-group"
                              {% endif %}
                              >
                              <label for="email" class="col-sm-2 control-label">
                                  {{ form.email.label }}
                              </label>
                              <div class="col-sm-10">
                                  {{ form.email(size=50, class_="form-control", placeholder="Email") }}
                              </div>
                          </div>


                  {% if form.password.errors %}
                      <div>
                          <ul class="list-group">
                              {% for e in form.password.errors %}
                              <li class="list-group-item list-group-item-danger">{{ e }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}
                  <div class={% if form.password.errors %}
                      "form-group has-error"
                      {% else %}
                      "form-group"
                      {% endif %}
                      >
                      <label for="password" class="col-sm-2 control-label">
                          {{ form.password.label }}
                      </label>
                      <div class="col-sm-10">
                          {{ form.password(size=50, class_="form-control", placeholder="Password") }}
                      </div>
                  </div>


                  {% if form.confirm.errors %}
                      <div>
                          <ul class="list-group">
                              {% for e in form.confirm.errors %}
                              <li class="list-group-item list-group-item-danger">{{ e }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}
                  <div class={% if form.confirm.errors %}
                      "form-group has-error"
                      {% else %}
                      "form-group"
                      {% endif %}
                      >
                      <label for="Repeat Password" class="col-sm-2 control-label">
                          {{ form.confirm.label }}
                      </label>
                      <div class="col-sm-10">
                          {{ form.confirm(size=50, class_="form-control", placeholder="Confirm Password") }}
                      </div>
                  </div>


                  {% if form.desc.errors %}
                      <div>
                          <ul class="list-group">
                              {% for e in form.desc.errors %}
                              <li class="list-group-item list-group-item-danger">{{ e }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}
                      <div class={% if form.desc.errors %}
                          "form-group has-error"
                          {% else %}
                          "form-group"
                          {% endif %}
                          >
                          <label for="desc" class="col-sm-2 control-label">
                              {{ form.desc.label }}
                          </label>
                          <div class="col-sm-10">
                              {{ form.desc(size=50, class_="form-control", placeholder="Description") }}
                          </div>
                      </div>


              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Register</button>
                  </div>
              </div>




              {% if error %}
                  <div>
                      <ul class="list-group">
                          <li class="list-group-item list-group-item-danger">{{ error }}</li>
                      </ul>
                  </div>
              {% endif %}
          </form>

        </div>
</section>
{% endblock %}
