{% extends "base.html" %}
{% block main %}

<div class="clearfix"></div>
</br>
</br>
<section id="video-fact">
    <div class="container">
         <div class="row">
                 <div class="col-md-6 ">
                    <div class="landing-video">
                        <div class="video-embed wow fadeIn" data-wow-duration="1s">
                                <!-- Change the url -->
                            <iframe src="../static/images/depardieu.jpg" width="350" height="281" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="video-text">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default">
                            <div class="panel-heading active" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  What like to eat:
                                </a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body p1">
                                Food
                              </div>
                            </div>
                          </div>
                      <div class="panel panel-default">
                        <div class="panel-heading " role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="accordion-toggle collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              What like to cook:
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body p1">
                            Food
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading " role="tab" id="headingThree">
                          <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Description:
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body p1">
                            Description
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div><!-- row End -->
    </div>
</section>

{% endblock %}