{% extends "base.html" %}
{% block main %}

<div class="row">
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('recherche') }}">
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">
                {{ form.element.label }}
            </label>

            <div class="col-sm-5">
                {{ form.element(size=20, class_="form-control", placeholder="Rechercher") }}
            </div>
        </div>
    </form>
</div>


<div id="category">
    {% for e in category %}
    {{ e.nom }}
</div>
<div id="class">
    {% for i in class %}
    {{ i.nom }}
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
        <button type="submit" class="btn btn-default">Go !</button>
    </div>
</div>

{% if results!=[] %}
<div class="row">
    <h3>Resultats</h3>
    <table class="table col-sm-3">
        <thead>
        <tr>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
        
        {% for e in results %}
        <tr>
            <td>{{ e.nom }}</td>
            <td><a id="add" href="addcook"><span class="glyphicons glyphicons-plus-sign"></span></a></td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endif %}


{% endblock %}